body{
  margin: 0 auto;
}

.div-padding{
  height: 20vh;
  background-color: #f2d6e5;
}

.cover{
/* background-image: url('pineapples-1.jpg'); */
background-image: url(lion.gif);
background-size: 100% 100%;
background-repeat: no-repeat;
height: 60vh;
/* width: 40%; */
/* padding-bottom: 13em; */
background-color: #f2d6e5;
color: red;
margin: 0 auto;
}



h1{
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 4em;
  padding-top: 20px;
  /* margin: 0 auto; */
  /* font-family: sans-serif; */
  font-family: 'DENK One';
}

.title{
  color: white;
  font-family: 'DENK One';
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 5em;

}


.about{
  height: 34vh;
  color: red;
  /* background-color: yellow; */
  /* margin: 0 auto; */
  padding: 6em;
  background-color: #37dfd0;
  /* margin-top: 10%; */
  background: linear-gradient(to bottom, #e8ecb1, #f3f6cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* border: black; */
  /* box-shadow: -70px 0px 5px -13px #b1e8e8, -10px 5px 55px 1px #33bdc3; */

  /* width: 25%; */
  /* float: left; */
}



.box{
  background-color: #d6e3a9;
  position: relative;
  max-width: 500px;
  height: 26vh;
  /* margin: 0 auto; */
  /* z-index: -10; */
  /* box-shadow: inset 10em 2em 3em gold; */
  width: 52vw;
  margin: -10vh auto;


  /* margin: -20vh auto auto -10vh; */
  border: black 0px solid;
  border-radius: 5%;
  box-shadow: -10px 5px 15px -43px #0dafd2, -10px 5px 55px -23px #33bdc3, -0 5px 55px -11px #000;
  padding: 5vh 1vw 8vh 1vw;
}

h3{
  font-family: 'DENK One';
  font-size: 6vh;
  padding-bottom: 2vh;
  color: #6cb296;
  margin: -2% auto;
  text-align: center;
}

.right-about, .about-text{
  /* margin-left: 35vw; */
  text-align: center;
  /* margin-left: -4vw; */
  margin: auto;
  padding: 0;
  width: 40vw;
  /* display: block; */
  /* margin-top: -38vh; */
  font-family: 'Denk One';
  /* color: #2da776; */
  color: #5c8572;

  font-size: 3.7vw;
  text-transform: uppercase;
  position: relative;
}

#webdev{
  color:#97d2df;
}

.buffer{
  background: linear-gradient(to bottom, #33bdc3, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
  height: 33vh;
  box-shadow:  -0 25px 5px -11px #000;
}

.skills{
  margin-top: -15vh;
  height: 10vh;
  color: red;
  clear: both;
  /* margin: 0 auto; */
  padding: 0;
  /* background-color: yellow; */
  /* background-color: #37dfd0; */
  background: #6caa85;
  /* background-image: url(white.gif); */
  background-size: 100% 100%;
  background: linear-gradient(to bottom, #9999cc, #9999cc, #9999cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: linear-gradient(to bottom, #5cafff, #8496ff); */
}

.skill-circle{
  width: 25vw;
  height: 20vh;
  margin: 10vh 2vw;
  display: inline-flex;
  float: left;
  background: white;
  /* background-color: purple; */
  background-image: url(square3.jpg);
  background-size: 100% 100%;
  /* background: linear-gradient(to bottom, #c19fc1, #b78bb7, #c673c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */

  /* margin-top: -35vh; */
  /* position: relative; */
  /* padding: 1em; */
  border-radius: 100%;

  box-shadow: -10px 5px 1px -11px #000, -10px 5px 55px -13px #524d7a, 0px 5px 35px -11px #6a658d;
  /* border: 1px solid #538466; */

  /* clear: both; */
  /* position: relative; */
}

.col-2{
  border-radius: 100%;
  overflow: inherit;
}

.skill-circle-hover{
  &:hover{
    .s3-transition;
    //-webkit-animation: s3-rotate @time infinite linear;
     animation:
      s3-rotate @time infinite linear,
      s3-opacity @time infinite;


  } // &:hover
} // .skill-circle-hover

.skill-circle-transition{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@-webkit-keyframes skill-circle-rotate {
  from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@keyframes skill-circle-opacity{
0%   {opacity:1;}
25%  {opacity:0.2;}
50%  {opacity:0.5;}
75%  {opacity:0.7;}
100% {opacity:0.1;}
}

.skill-circle-dotted{
  .skill-circle-round;
  .skill-circle-hover;
  border:dotted 5px black;
  &:hover{
    border:dotted 5px white;
  }
}

#working-sites{
  width: 30vw;
  height: 25vh;
  /* margin: 24vh auto; */
  padding: 1vh 1vh;
}

#working-sites .skills-text{
  padding: 6vh 2vh;
  font-size: 4.5vw;


}


.skills-text{
  /* margin-left: 35vw; */
  text-align: center;
  font-family: serif;
  overflow: hidden;
  padding: 3vh 2vh;
  /* position: absolute; */

  /* margin: 0 auto; */
  /* width: 40vw; */
  display: block;
  margin-top: 2vh;
  font-family: 'Denk One';
  /* color: #677b6f; */
  /* color: #f8f892; */
  color: #f8f892;

  font-size: 4.5vw;
  text-transform: uppercase;
}

#green-buffer{
  height: 19vh;
  /* box-shadow:  -0 25px 5px -11px #000; */

  background: linear-gradient(to bottom, #9999cc, #9999cc, #9999cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portfolio{
  height: 100vh;

  color: red;
  /* clear: both; */
  /* top: -10%; */
  width: 100%;
  /* overflow: auto; */

  padding-top: 20.5vh;

  /* padding: 0; */
  /* background-color: #c5e2ec; */
  background: linear-gradient(to bottom, #f2d6e5, #cfcbe6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-bottom: 17vh;

  /* background-color: white; */
  /* background-image: url(josh.jpg); */
  /* background-size: 100% 100%; */
  /* background-blend-mode: luminosity; */
}

  #white-highlight{
    background: white;

    width: 100%;
    /* height: 8vh; */
    margin-top: -23vh;

  }

  .portfolio h1{
    font-size: 8vh;
    margin-top: -23vh;
    border: 1px white solid;

    /* background: white; */
    /* color: #2c4854; */
    color: #34504e;
    /* padding: -20vh auto 1vh auto; */
    /* text-shadow: 1px 3px 3px #fff; */
  }




.container-port{
  width: 100%;


  /* margin: auto; */
  padding: auto 2vw;
  /* padding: 10px 10px; */
  /* background-color: white; */
  /* z-index: -3; */
  height: 100%;
  /* margin: -2.5em 0 -0.5em 0; */
  /* padding-top: 3em; */

}




/* #portfolio{
  text-align: center;
  margin: -0.3em 20px 0px 20px;
  color: #001a1a ;
  font-family: 'vevey';
  font-size: 80px;


} */

  .flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-around;
    /* align-items: baseline; */
    /* // margin: -4em 6.6em; */
    // background: linear-gradient(bottom,  $gold,yellow);
    // background-color: yellow;
    // box-shadow: 1px 1px 50px 3px #243e3c;

    // border: 1px solid #2d4e4c;



  }
.col:last-child{
  border: none;
}

.parent{
  height: 100%;
  clear: both;


}


  .col {
    flex: 1 1 50%;
    /* margin-top: -10px; */
    margin: 1vh auto;

  }

  .flex-grid a:link, .flex-grid a:visited{
    color: $swamp;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'oswald';
    // letter-spacing: -0.1em;
  }

  figcaption{
    visibility: hidden;
  }

  .portfolio-image {
    height: 150px;
    /* width: 100px; */
    width: 85%;
    margin: 10px 5%;
    border-radius: 4%;
    /* box-shadow: -10px 1px 1px -10px #8ec1d4; */
    box-shadow: -10px 5px 15px -23px #000, -10px 5px 55px -23px #000, 0px 5px 55px -21px #000;


    }



    .contact{
      background: linear-gradient(to top, #6cb296, #9ac4b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      height: 25vh;
      clear: both;
      z-index: -4;
      /* top: 0; */
      color: red;
      margin: -10vh auto;
      /* margin: -10% auto; */
      /* padding: 0; */
      /* background-image: url(1646.jpg); */
      background-size: 100% 100%;
      text-align: center;
      border-radius: 10%;
    }

.whiteout h1{
  font-size: 7vh;
  /* margin-top: -5vh; */
  color: #5c667c;
  padding-bottom: 8vh;
}


.whiteout{
  background: white;
  height: 17vh;
}


button{
  border-radius: 100%;
  background-color: rgba(108, 178, 150, 0.4);
  padding: 2vh;
  margin: 6vw;
  border: 3px solid white;

}

i{
  /* background: rgba:(0,0,0,0.1); */
  color: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  font-size: 6vh;
  /* color: white; */
}
.contact-info{
  color: white;
  font-size: 4vw;
}
